<div class="lg:flex w-full items-start">
    <div class="w-full lg:w-auto lg:pr-4 grow">
        <c1-table
            labels="Pos,Num,Nome,Categoria,Team,Tempo"
            keys="pos,number,name,category,team,diff"
            types="pos,bolder,as-is,as-is,as-is,diff"
            filterKey="name,number"
            orderBy="pos"
            actionDisabled="true"
            ref="table"
        ></c1-table>
    </div>
    <div class="w-full lg:w-80">
        <form class="bg-white rounded-lg shadow" ref="selectCategories">

            <div class="px-6 py-4">
                <div class="relative mb-4">
                    <div class="relative flex items-center justify-between text-base leading-5 font-semibold">
                        <span class="text-gray-500">
                            Seleziona categorie
                        </span>
                        <button
                            class="flex items-center p-2 bg-white rounded-full shadow hover:text-gray-700 text-md"
                            title="Clear"
                            type="reset"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z"
                                ></path>
                            </svg>

                        </button>
                    </div>
                </div>
                <div class="w-full space-y-6">
                    <div class="w-full">
                        {{#each categories}}
                            <div class="inline-flex items-center mb-4 mr-4">
                                <input
                                    id="checkbox--{{this}}"
                                    name="{{this}}"
                                    type="checkbox"
                                    value="true"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                />
                                <label
                                    for="checkbox--{{this}}"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >{{this}}</label>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <button
                                class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                            >
                                Applica
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="bg-white rounded-lg shadow" ref="selectTeams">

            <div class="px-6 py-4">
                <div class="relative mb-4">
                    <div class="relative flex items-center justify-between text-base leading-5 font-semibold">
                        <span class="text-gray-500">
                            Seleziona Team
                        </span>
                        <button
                            class="flex items-center p-2 bg-white rounded-full shadow hover:text-gray-700 text-md"
                            title="Clear"
                            type="reset"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z"
                                ></path>
                            </svg>

                        </button>
                    </div>
                </div>
                <div class="w-full space-y-6">
                    <div class="w-full">
                        <select
                            class="font-semibold w-full block px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                            name="selectTeam"
                        >
                            <option value="">
                                Tutti i Team
                            </option>
                            {{#each teams}}
                                <option value="{{this}}">
                                    {{this}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <button
                                class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                            >
                                Applica
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="bg-white rounded-lg shadow" ref="print">

            <div class="px-6 py-4">
                <div class="relative mb-4">
                    <div class="relative flex items-center justify-between text-base leading-5 font-semibold">
                        <span class="text-gray-500">
                            Stampa
                        </span>
                        <button
                            class="flex items-center p-2 bg-white rounded-full shadow hover:text-gray-700 text-md"
                            title="Clear"
                            type="reset"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z"
                                ></path>
                            </svg>

                        </button>
                    </div>
                </div>
                <div class="w-full">
                    <div class="relative">
                        <input
                            type="text"
                            class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                            placeholder="Titolo"
                            name="title"
                        />
                    </div>
                </div>
                <div class="w-full mt-4">
                    <div class="relative">
                        <input
                            type="text"
                            class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                            placeholder="Sottotitolo"
                            name="subtitle"
                        />
                    </div>
                </div>
                <div class="w-full mt-4">
                    <div class="relative">
                        <input
                            id="checkbox--uci"
                            name="uci"
                            type="checkbox"
                            value="true"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                        />
                        <label
                            for="checkbox--uci"
                            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        >Versione UCI</label>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <button
                                class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                            >
                                Stampa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="bg-white rounded-lg shadow">
            <div class="px-6 py-4">
                <div class="w-full">
                    <button
                        class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                        type="button"
                        ref="download"
                    >
                        Scarica CSV
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>